p1
{
	color: red;
	font-size: 30px;
}

p2
{
	color: blueviolet;
	font-size: 30px;
}
div
{
	border: 2px solid blue;
	border-radius: 10px;
	background-color: yellow;
	width: 30%;
	height: 100px;
	margin: auto;
	text-align: center;
	padding: 20px;


}